@font-face {
  font-family: "Cornerstone";
  src: local("Cornerstone", url(./assets/fonts/Cornerstone.ttf) format("truetype")) 
}

body {
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    font-family: "Cornerstone";
    color: #FFFFF0;
}

.card {
  background-color: #202020
}

label {
  color: #FAFAD2;
  text-shadow:
    0px 4px 3px rgba(0,0,0,7), 
    0px 8px 13px rgba(0,0,0,5),
    0px 18px 23px rgba(0,0,0,0.7);
}


.navbar-toggler-icon {
  color: #FAFAD2;
}
