.nav {
  background: #202020;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: ivory;
  font-size: 2rem;
  text-decoration: none;
  line-height: 3;
}

.btn {
  color: ivory;
  font-size: 2rem;
  text-decoration: none;
  line-height: 3;
}

.nav a:hover {
  color: yellow;
}

.nav li:last-child {
  justify-content: end;
}

