.nav {
  background: #202020;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: ivory;
  font-size: 2rem;
  text-decoration: none;
  line-height: 3;
}

a:hover {
  opacity: 1;
}

.nav li:last-child {
  margin-right: 0
}

